{% extends 'layout.html' %}

{% block header %}
  <h1>FILMOOD - Choose correct film to your mood</h1>
{% endblock %}

{% block content %}
  <div class="content">
    <p class="emodji">&#128557;</p>
    <p class="emodji">&#128552;</p>
    <p class="emodji">&#128545;</p>
    <p class="emodji">&#128526;</p>
    <p class="emodji">&#128525;</p>
    <p class="emodji">&#128513;</p>
    <p class="emodji">&#129297;</p>
  </div>
  <div class="wrapper_btn">
    <div>Let's try to pick up film for you</div>
    <button class="btn">Pick up</button>
  </div>
{% endblock %}