{% extends 'layout.html' %}

{% block header %}
  <h1>Our team</h1>
{% endblock %}

{% block content %}
  <div class="content team">
    <div class="wrapper_emodji">
      <div class="emodji">
        &#129488
      </div>
      Перятин Геннадий
    </div>
    <div class="wrapper_emodji">
       <div class="emodji">
        &#128579
      </div>
      Старателев Владислав
    </div>
    <div class="wrapper_emodji">
       <div class="emodji">
        &#128519
      </div>
      Первененок Алиса
    </div>
    <div class="wrapper_emodji">
       <div class="emodji">
        &#128566
      </div>
      Ромасев Эрик
    </div>
    <div class="wrapper_emodji">
       <div class="emodji">
        &#129312
      </div>
      Колбеко Александр
    </div>
  </div>
{% endblock %}