html {
    font-family: 'Roboto', sans-serif;
}
.navigation {
    display: flex; 
    padding: 0; 
    list-style-type: none; 
    font-size: 30px; 
    justify-content: space-between;
}
.navigation a {
    text-decoration: none;
}

.wrapper_emodji {
    width: 150px;
    text-align: center;
}
.emodji {
    font-size: 100px;
}
.wrapper_btn {
    font-size: 20px; 
    text-align: center;
}
.btn {
    margin-top:30px;
    height: 50px;
    width: 200px;
    font-size: 40px;
    background: red;
    color: #ffffff;
    border: none;
}
.wrapper_content {
    width: 1000px; 
    margin: 0 auto;
}
.content {
    display: flex; 
    justify-content: space-between
}
.team {
    margin-top:150px; 
    font-size: 20px;
}