{% extends 'base.html' %}

{% block header %}
  <h1>SomeAwesomeStartup - Our team</h1>
{% endblock %}

{% block content %}
  <div style="display: flex; margin-top:150px; justify-content: space-between; font-size: 20px;">
    <div  style="width: 150px; text-align: center">
      <div style="font-size:100px;">
        &#129488
      </div>
      Перятин Геннадий
    </div>
    <div style="width: 150px; text-align: center">
       <div style="font-size:100px;">
        &#128579
      </div>
      Старателев Владислав
    </div>
    <div style="width: 150px; text-align: center">
       <div style="font-size:100px;">
        &#128519
      </div>
      Первененок Алиса
    </div>
    <div style="width: 150px; text-align: center">
       <div style="font-size:100px;">
        &#128566
      </div>
      Ромасев Эрик
    </div>
    <div style="width: 150px; text-align: center">
       <div style="font-size:100px;">
        &#129312
      </div>
      Колбеко Александр
    </div>
  </div>
{% endblock %}